Repository expressjs/express, pull requests merged in 2018-09, with the labels that each got.

#3718 Update index.js
  examples/multi-router/index.js
  test/acceptance/multi-router.js
Labels: examples, pr

#3678 Move removed middlewares to a variable
  lib/express.js
Labels: pr

#3655 Bump body-parser to remove Node 10 deprecations
  History.md
  package.json
Labels: deps, pr
