Repository expressjs/express, pull requests merged in 2020-05, with the labels that each got.

#4192 docs: fix typo in request documentation
  History.md
  lib/request.js
Labels: docs, pr

#4155 fixed response jsonp deprecate, comment
  History.md
  lib/response.js
Labels: pr

#4205 Fix regexp handing logic in router. Closes #4204
  History.md
  lib/router/index.js
  test/app.router.js
Labels: bug, module:router, pr
