Repository expressjs/express, pull requests merged in 2022-04, with the labels that each got.

#4336 deps: statuses@2.0.1
  History.md
  lib/response.js
  package.json
Labels: pr, deps

#4882 test: fix typo
  test/res.sendFile.js
Labels: pr, tests

#4872 docs: fix typo: http -> HTTP
  Charter.md
Labels: docs, pr

#4890 Update Security.md
  Security.md
Labels: docs, pr

#4884 examples: add missing associated labels
  examples/auth/views/login.ejs
Labels: examples, pr

#4887 Increase timeout for mocha to 7500
  test/Router.js
Labels: pr, tests

#4880 Expanding the benchmark.
  benchmarks/Makefile
  benchmarks/run
Labels: pr
