Repository expressjs/express, pull requests merged in 2022-03, with the labels that each got.

#4866 fix: remove deprecated html attribute
  examples/route-separation/views/users/edit.ejs
  examples/search/public/index.html
Labels: examples, pr

#4868 fix: continue is unnecessary as the last statement in a loop
  lib/router/index.js
Labels: pr

#4223 Deprecate non integer status codes in v4
  History.md
  lib/response.js
  test/res.status.js
Labels: 4.x, deprecate, pr

#4855 Add root support in res.download()
  History.md
  lib/response.js
  test/res.download.js
Labels: enhancement, pr

#3587 res.format(): call default using `obj` as the context
  History.md
  lib/response.js
  test/res.format.js
Labels: enhancement, pr

#4174 Feature/4171 depd
  History.md
  package.json
Labels: pr, deps

#3936 Validate `maxAge` appropriateness before use
  History.md
  lib/response.js
  test/res.cookie.js
Labels: bug, pr
