Repository expressjs/express, pull requests merged in 2024-10, with the labels that each got.

#6017 Update `cookie` semver lock to address CVE-2024-47764
  History.md
  package.json
Labels: 5.x

#6029 Backport a fix for CVE-2024-47764 to the 4.x branch
  History.md
  package.json
Labels: 4.x

#6075 build: Node.js 23.0
  .github/workflows/ci.yml
Labels: 5.x

#6081 Remove Object.setPrototypeOf polyfill
  History.md
  lib/application.js
  package.json
Labels: 5.x, performance :zap:

#6071 fix(buffer): use node:buffer instead of safe-buffer
  lib/response.js
  lib/utils.js
  package.json
  test/express.json.js
  test/express.raw.js
  test/express.static.js
  test/express.text.js
  test/express.urlencoded.js
  test/res.attachment.js
  test/res.download.js
  test/res.send.js
  test/res.sendFile.js
  test/support/utils.js
  test/utils.js
Labels: 5.x
