Repository expressjs/express, pull requests merged in 2024-04, with the labels that each got.

#5526 Add a Threat Model
  Security.md
Labels: docs, top priority, security

#5605 docs: add UlisesGascon as triage initiative captain
  Contributing.md
Labels: semver-ignore

#4861 Use object with null prototype for various app properties
  lib/application.js
  test/app.locals.js
Labels: enhancement, 5.x, pr
