Repository expressjs/express, pull requests merged in 2025-03, with the labels that each got.

#6349 docs: update guidance for triager nominations
  Contributing.md
Labels: docs

#6352 Nominate @dpopp07 to the triage team
  Readme.md
Labels: docs

#5435 Add dependabot
  .github/workflows/dependabot.yml
Labels: pr, deps, semver-ignore

#6392 fix dependabot config
  .github/dependabot.yml
Labels: fast track

#6373 feat(deps): finalhandler@2.1.0
  History.md
  package.json
Labels: fast track

#6415 ci: use full SHAs for github action versions
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/legacy.yml
  .github/workflows/scorecard.yml
Labels: fast track

#6425 5.1.0
  History.md
  package.json
Labels: 5.x, release
