Repository expressjs/express, pull requests merged in 2025-01, with the labels that each got.

#6196 chore: replace `methods` dependency with standard library
  History.md
  lib/application.js
  lib/utils.js
  package.json
  test/Route.js
  test/Router.js
  test/app.router.js
  test/res.send.js
Labels: 5.x, deps

#6080 ci: add support for Node.js@23.0
  .github/workflows/ci.yml
Labels: 4.x, backport

#5431 Add support for OSSF scorecard reporting
  .github/workflows/scorecard.yml
Labels: semver-ignore

#5957 Method functions with no path should error
  test/app.router.js
Labels: 4.x, tests

#6276 docs: add @Phillip9587 to the triage team
  Readme.md
Labels: tc agenda, top priority
