Repository expressjs/express, pull requests merged in 2025-02, with the labels that each got.

#6097 refactor: simplify `normalizeTypes` function
  lib/utils.js
Labels: 5.x

#6234 Update repo captains
  Contributing.md
Labels: docs

#6073 response: add support for ETag option in res.sendFile
  History.md
  lib/response.js
  test/res.sendFile.js
Labels: 5.x

#6338 Update multiple links to use `https` instead of `http`
  .editorconfig
  Charter.md
  Collaborator-Guide.md
  Release-Process.md
Labels: fast track

#4885 Extend res.links() to allow adding multiple links with the same rel #2729
  History.md
  lib/response.js
  test/res.links.js
Labels: enhancement, pr

#6336 ci: reorder `npm i` steps to fix ci for older node versions
  .github/workflows/ci.yml
  package.json
Labels: fast track

#6345 docs: update emeritus triagers
  Readme.md
Labels: docs, semver-ignore
